<% content_for(:title, 'Blog')%>
<header class="main-header">
  <div class="container">
    <div class="text-center logo no-margin-bottom">
      <%= link_to image_tag('logo.png'),root_path%>
    </div>
    <h3 class="color-white text-center ">Articles &amp; Blog</h3>
    <div class="white-space-50"></div>
  </div>
</header><!-- end main-header -->
  <!-- body-content -->
  <div class="body-content clearfix" >
    <!-- blog block -->
    <div class="bg-color1 block-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!-- blog list -->
            <div class="blog-list">
              <!-- blog item -->
              <% @blogs.each do |blog| %>
              <div class="blog-item">
                <%= link_to 'Destroy', blog , method: :delete, data: { confirm: 'Are you sure?' } %>
                <h2 class="blog-title"><%= link_to blog.title,blog %></h2>
                <div class="blog-meta"><%="#{time_ago_in_words(blog.created_at)} ago"%> by <a href="#"><%= blog.user.name%></a></div>
                <div class="blog-img">
                  <%=image_tag blog.photo.url(:medium), class:'img-full'%>
                </div>
                <p><%=h blog.description.html_safe %></p>
                <p class="blog-links"><%=link_to 'Continue Reading ->', blog, class:'btn btn-theme btn-line soft '%></p>
              </div><!-- end blog item -->
              <% end %>
            </div><!-- end blog list -->
            <!-- pager -->
            <div class="text-center">
              <ul class="pagination pagination-theme  no-margin">
                <li>
                  <%= will_paginate @blogs, renderer: BootstrapPagination::Rails ,class:'pagination pagination-theme pagination-lg' %>
                </li>
              </ul>
            </div><!-- pagination -->
          </div>
        </div>
      </div>
    </div><!-- end blog block -->
  </div><!--end body-content -->

