<% content_for(:title, 'Edit Your Account')%>
<div class="container">
  <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/logo.png" alt=""></a></div>
</div>

</header><!-- end main-header -->


<!-- body-content -->
<div class="body-content clearfix" >

  <div class="bg-color2">
    <div class="container">
      <div class="col-md-3 col-sm-3">

        <div class="block-section text-center ">
          <img src="./assets/theme/images/people/4.jpg" class="img-rounded" alt="">
          <div class="white-space-20"></div>
          <h4>Jhone Doe</h4>
          <div class="white-space-20"></div>
          <ul class="list-unstyled">
            <li><a href="my_alerts.html"> My Alerts </a></li>
            <li><a href="my_notifications.html"> Notifications (5)</a></li>
            <li><a href="change_password.html"> Change Password</a></li>

          </ul>
          <div class="white-space-20"></div>
          <a href="#" class="btn  btn-line soft btn-theme btn-pill btn-block">Post a Job</a>
          <a href="#" class="btn  btn-line soft  btn-theme btn-pill btn-block">Build Resume</a>
        </div>    </div>
      <div class="col-md-9 col-sm-9">
        <!-- Block side right -->
        <div class="block-section box-side-account">
          <h3 class="no-margin-top">Edit Profile</h3>
          <hr/>
          <div class="row">
            <div class="col-md-7">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :multipart => true }) do |f| %>
                  <%= devise_error_messages! %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group">
                    <label>Profile Picture</label>
                    <%= f.file_field :photo, class:'form-control' %>
                  </div>
                  <div class="form-group">
                    <label>Name</label>
                    <%= f.text_field :name, require: true, class:'form-control' %>
                  </div>
                <div class="form-group">
                  <label>Email</label>
                  <%= f.email_field :email, autofocus: true, class:'form-control' %>
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
                </div>
                <div class="form-group">
                  <label>Re-type New Password</label>
                  <%= f.password_field :password_confirmation, autocomplete: "off",class:'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.submit "Change Information",class:'btn btn-theme btn-t-primary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div><!-- end Block side right -->
      </div>
    </div>
  </div>
</div><!--end body-content -->
