<header class="main-header">
  <div class="container">
    <div class="text-center logo no-margin-bottom">
      <%= link_to image_tag('logo.png'),root_path%>
    </div>
    <h3 class="color-white text-center ">Post New Job</h3>
    <div class="white-space-50"></div>
  </div>
</header><!-- end main-header -->
  <!-- body-content -->
  <div class="body-content clearfix" >
    <div class="bg-color1 block-section line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- form post a job -->
            <%= form_for @job, :multipart => true do |f| %>
              <div class="form-group">
                <label>Company Name</label>
                <%= f.text_field :company_name, :class => 'form-control' ,placeholder:'Enter Company Name'%>
              </div>
                <div class="form-group">
                  <label>Company or Job URL</label>
                  <%= f.text_field :url, :class => 'form-control' ,placeholder:'Company or Job URL'%>
                </div>
                <div class="form-group">
                  <label>EMAIL</label>
                  <%= f.text_field :apply, :class => 'form-control' ,placeholder:'apply@jobsplanet.tn'%>
                </div>
              <div class="form-group">
                <label>Job title</label>
                <%= f.text_field :title, :class => 'form-control' ,placeholder:'Enter Job Title'%>
              </div>
              <div class="form-group">
                <label>Job description</label>
                <div class="color-white-mute"><small>Describe the responsibilities of this job, required work experience, skills, or education.</small></div>
                <%= f.cktext_area :description, :as => :ckeditor, :input_html => { :ckeditor => { :height => 400 } } %>
                <small class="color-white-mute">Formatting Options:    ##heading      *bold*          _italic_          * bulleted list</small>
              </div>
              <div class="form-group">
                <label>Locations (optional)</label>
                <%= f.text_field :location, :class => 'form-control' ,placeholder:'Enter Location'%>
              </div>
                <div class="form-group">
                  <label>Address (Complete address)</label>
                  <%= f.text_area :address, :class => 'form-control' ,placeholder:'14 ,Rue de Paris , Tunis'%>
                </div>
                <div class="form-group">
                  <label>Job Category</label>
                  <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'Choose a category'}, {class: "form-control"})%>
                  </div>

                <div class="form-group">
                  <label>Require Skills :</label>
                  <%= f.text_field :tag_list, :class => 'form-control' ,placeholder:'EX: PHP,JAVA,RUBY'%>
                </div>

              <div class="form-group">
                <label>Salary</label>
                    <%= f.text_field :salary, :class => 'form-control' ,placeholder:'Example: 50,000.00'%>
              </div>
              <div class="form-group">
                <label>Experience </label>
                    <%= f.text_field :experience, :class => 'form-control' ,placeholder:'Example: Accounting'%>
              </div>
              <p>Applications will be emailed to: <a href="#"><%= current_user.email%></a> – <a href="#">change email</a></p>
              <div class="form-group ">
                <%= f.submit 'Submit', class:'btn btn-t-primary btn-theme'%>
              </div>
            <% end %> <!-- end form post a job -->
          </div>
        </div>
      </div>
    </div>
  </div><!--end body-content -->
