<% content_for :title do %> <%=@job.title%> <% end %>

<%= render 'jobs/parts/search'%>
  <!-- body-content -->
  <div class="body-content clearfix" >
    <!-- link top -->
    <div class="bg-color2 block-section-xs line-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 hidden-xs">
            <div>Job details :</div>
          </div>
          <div class="col-sm-6">
            <div class="text-right"><a href="#">&laquo; Go back to job listings</a></div>
          </div>
        </div>
      </div>
    </div><!-- end link top -->
    <div class="bg-color2">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <!-- box item details -->
            <div class="block-section box-item-details">
              <div class="row">
                <div class="col-md-8">
                  <%= image_tag @job.user.photo.url(:thumb)%>
                </div>
                <div class="col-md-4">
                  <p class="text-right"><%=link_to 'Go to our website ', "http://#{@job.url}" , target:'_blank'%></p>
                </div>
              </div>
              <h2 class="title"><%=@job.title%></h2>
              <div class="job-meta">
                <ul class="list-inline">
                  <li><i class="fa fa-briefcase"></i> <%=@job.experience%></li>
                  <li><i class="fa fa-map-marker"></i> <%=@job.location%></li>
                  <li><i class="fa fa-money"></i><%=@job.salary%></li>
                </ul>
              </div>
              <p><%=@job.description.html_safe%></p>
              <p><b>Skills:</b> <%= raw @job.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
            </div><!-- end box item details -->
          </div>
          <div class="col-md-3">
            <!-- box affix right -->
            <div class="block-section " id="affix-box">
              <div class="text-center">
                <%if user_signed_in?%>
                <div class="btn btn-theme btn-line dark btn-block-xs" >Aplly WIth Email</div>
                <%= mail_to("#{@job.apply}") %><br><br>
                    <%else%>
                    <%= link_to 'Login To Apply', login_path,class:'btn btn-theme btn-line dark btn-block-xs'%><br><br>
              <%end%>
                <div class="btn btn-theme btn-line dark btn-block-xs" >Company Address</div><br>
                <%=@job.address%>
                <p>Share This Job <span class="space-inline-10"></span> :</p>
                <p class="share-btns">
                <p class="share-btns">
                  <a href="https://www.facebook.com/dialog/feed?app_id=134530986736267&link=<%= request.original_url %>&name=<%= @job.title%>&picture=<%=image_url(@job.user.photo)%>&redirect_uri=http://facebook.com/" target="_blank" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" href="http://twitter.com/home?status=<%=@job.title%>  &mdash; <%= request.original_url %> via @planetjobs.tn" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                  <a target="_blank" href="https://plus.google.com/share?url=<%= request.original_url %>" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>
                </p>
                </p>
              </div>
            </div><!-- box affix right -->
          </div>
        </div>
      </div>
    </div>
  </div><!--end body-content -->