<% content_for(:title, 'Home')%>
 <header class="main-header">
    <div class="hero-header">
      <div class="inner-hero-header">
        <div class="container">
          <div class="text-center logo">
            <%= link_to image_tag('logo.png'),root_path%>
          </div>
          <div class="relative">
            <i class="fa fa-globe ic-fade-globe"></i>
            <!-- form search -->
            <%= form_tag jobs_path, class:'form-search-home', :method => 'get' do %>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>What</label>
                    <%= text_field_tag :search, params[:search],class:'form-control input-lg', placeholder:'job title, keywords or company name' %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Where</label>
                    <%= text_field_tag :location, params[:location],class:'form-control input-lg',placeholder:'city, province, or region' %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= submit_tag "Find Jobs" ,class:'btn btn-t-primary btn-lg btn-theme btn-pill btn-block' %>
              </div>
            <%end%> <!-- end form search -->
          </div>
        </div>
      </div>
    </div>
  </header><!-- end main-header -->
  <!-- body-content -->
  <div class="body-content clearfix" >
    <!-- box simple static -->
    <!-- body-content -->
    <div class="body-content clearfix" >
      <!-- block promo -->
      <div class="block-section bg-color1 line-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center-sm">
              <h2>Post a Job</h2>
              <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
              <p><a href="job_post_2.html" class=" btn btn-theme btn-t-primary">Post On JobPlanet</a></p>
              <p><a href="#">Learn more about posting your jobs on JobPlanet</a></p>
            </div>
            <div class="col-md-6 text-center hidden-sm hidden-xs">
              <%= image_tag 'mac1.png'%>
            </div>
          </div>
        </div>
      </div>
       <!-- end block promo -->


      <!-- block promo -->
      <div class="block-section bg-color2 line-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center hidden-sm hidden-xs">
              <%= image_tag 'mac2.png' %>
            </div>
            <div class="col-md-6 text-center-sm">
              <h2>Resume Search</h2>
              <p>Post your jobs directly to JobPlanet in minutes. You'll get quality applicants sent directly to your inbox, no website required.</p>
              <p><a href="resume_list.html" class=" btn btn-theme btn-t-primary">Find Resumes</a></p>
              <p><a href="#">Learn more about JobPlanet Resume</a></p>
            </div>
          </div>
        </div>
      </div><!-- end block promo -->

      <!-- block bottom -->
      <div class="block-section bg-color1">
        <div class="container text-center">
          <strong class="text-uppercase">support</strong>
          <h2 >Any questions?</h2>
          <div class="white-space-20"></div>
          <%= link_to 'Contact Us', contacts_path,class:'btn btn-t-primary  btn-theme'%>
        </div>
      </div><!-- end block bottom -->

    </div><!-- end box simple static -->
  </div><!--end body-content -->
