<header class="main-header">
  <div class="container">
    <div class="text-center logo"> <a href="index.html">
      <%=image_tag 'logo.png'%></a></div>
  </div>

</header><!-- end main-header -->


<!-- body-content -->
<div class="body-content clearfix" >

  <div class="block-section bg-color4">
    <div class="container">
      <div class="panel panel-md">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <!-- buttons top -->
              <p><a href="#" class="btn btn-primary btn-theme btn-block"><i class="fa fa-facebook pull-left bordered-right"></i> Login with Facebook</a></p>
              <p><a href="#" class="btn btn-danger btn-theme btn-block"><i class="fa fa-google-plus pull-left bordered-right"></i> Login with Google</a></p>
              <!-- end buttons top -->

              <div class="white-space-10"></div>
              <p class="text-center"><span class="span-line">OR</span></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:'form-control' ,placeholder: 'Your Email'%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off",class:'form-control' ,placeholder:'Your Password'%>
  </div>

  <div class="form-group">
  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="col-xs-6">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me%>
        </div>
        </div>
  <% end -%>
    </div>

  <div class="form-group no-margin">
    <%= f.submit "Log in", class:'btn btn-theme btn-lg btn-t-primary btn-block' %>
  </div>
<% end %>

      <div><a href="password" ><strong>Forget Your Password ?</strong></a></div>



              </div>
            </div>
          </div>
        </div>

        <div class="white-space-20"></div>
        <div class="text-center color-white">Not a member? &nbsp; <a href="register" class="link-white"><strong>Create an account free</strong></a></div>
      </div>
    </div>

    <!-- box bottom -->
    <div class="block-section bg-color2">
      <div class="container text-center">
        <i class="fa fa-mobile-phone fa-5x box-icon"></i>
        <h2 class=""> Find jobs with your phone</h2>

        <p>Download the JobPlanet app from the</p>
        <a href="#" class="btn btn-theme btn-default"><i class="fa fa-android bordered-right dark"></i> Android</a>
        <span class="space-inline-10"></span>
        <a href="#" class="btn btn-theme btn-default"><i class="fa fa-apple bordered-right dark"></i> Iphone</a>
      </div>
    </div><!-- end box bottom -->

    <!-- modal forgot password -->
    <div class="modal fade" id="myModal" >
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" >Forgot Password</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Enter Your Email</label>
                <input type="email" class="form-control " name="text" placeholder="Email">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success btn-theme">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- end modal forgot password -->
  </div><!--end body-content -->
