<header class="main-header">
  <div class="container">
    <div class="text-center logo no-margin-bottom">
      <%= link_to image_tag('logo.png'),root_path%>
    </div>
    <h3 class="color-white text-center ">Create Your Resume</h3>
    <div class="white-space-50"></div>
  </div>
</header><!-- end main-header -->
<!-- body-content -->
<div class="body-content clearfix" >
  <div class="bg-color1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
<!-- box item details -->
<div class="block-section line-bottom">
  <div class="resume-block">
    <div class="img-profile"><%= image_tag current_user.photo.url%></div>
    <div class="desc">
      <h2><%= current_user.name%></h2>
      <%= form_for @resume, :multipart => true do |f| %>
       <div class="form-group">
      <%= f.label :title%> <br/>
      <%= f.text_field :title, :class => 'form-control' ,placeholder:'EX: Ruby On rails Developer'%>
       </div>
          <div class="form-group">
      <%= f.label :location%> <br/>
      <%= f.text_field :location , :class => 'form-control' ,placeholder:'EX: Kairouan,Tunisia'%>
            </div>
      <h3 class="resume-sub-title"><span>Work Experience</span></h3>
          <div class="form-group">
      <%= f.label :experience%> <br/>
      <%= f.text_area :experience, :class => 'form-control' ,placeholder:'Copy and Paste From your Resume ...'%>
            </div>
      <h3 class="resume-sub-title"><span>Education</span></h3>
      <%= f.label :education%> <br/>
      <%= f.text_area :education , :class => 'form-control' ,placeholder:'Copy and Paste From your Resume ...'%>
      <h3  class="resume-sub-title"><span>Additional Information</span></h3>
          <div class="form-group">
      <%= f.label :information%> <br/>
      <%= f.text_area :information, :class => 'form-control' ,placeholder:'Describe your self and added the skill you have ...'%>
            </div>
          <div class="form-group">
            <%= f.label :skill_list%> <br/>
            <%= f.text_field :skill_list, :class => 'form-control' ,placeholder:'Added the skills you have separate by commas EX: php, Java'%>
          </div>
          </div>
         <div class="input-group-btn">
          <%= f.label :cv%> <br/>
          <%= f.file_field :cv, :class => 'btn btn-default btn-theme btn-file' %>
          </div>
          <br/>
          <div class="form-group ">
          <%= f.submit 'Submit Your CV', class:'btn btn-t-primary btn-theme'%>
          </div>
<% end %>
</div>
</div><!-- end box item details -->
    </div>
      </div>
    </div>
  </div>
</div>