

<!-- main navbar -->
<nav class="navbar navbar-default main-navbar hidden-sm hidden-xs">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><%= link_to ("<strong>Home</strong>").html_safe, root_path%> </li>
        <li><%= link_to ("<strong>Find Jobs</strong>").html_safe, jobs_url%> </li>
        <li><%= link_to ("<strong>Find Resumes</strong>").html_safe, resumes_url%> </li>
        <li><%= link_to ("<strong>Post a Job</strong>").html_safe, new_job_path%> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="link-btn"><a href="login"><span class="btn btn-theme btn-pill btn-xs btn-line">Login</span></a></li>
        <li class="link-btn"><a href="register"><span class="btn btn-theme  btn-pill btn-xs btn-line">Register</span></a></li>
      </ul>
    </div>
  </div>
</nav><!-- end main navbar -->

<!-- mobile navbar -->
<div class="container">
  <nav class="mobile-nav hidden-md hidden-lg">
    <a href="#" class="btn-nav-toogle first">
      <span class="bars"></span>
      Menu
    </a>
    <div class="mobile-nav-block">
      <h4>Navigation</h4>
      <a href="#" class="btn-nav-toogle">
        <span class="barsclose"></span>
        Close
      </a>

      <ul class="nav navbar-nav">
        <li><%= link_to ("<strong>Home</strong>").html_safe, root_path%> </li>
        <li><%= link_to ("<strong>Find Jobs</strong>").html_safe, jobs_url%> </li>
        <li><%= link_to ("<strong>Find Resumes</strong>").html_safe, resumes_url%> </li>
        <li><%= link_to ("<strong>Post a Job</strong>").html_safe, new_job_path%> </li>
        <li><a href="login"><strong>Login</strong></a></li>
        <li><a href="register"><strong>Register</strong></a></li>
      </ul>
    </div>
  </nav>
</div><!-- mobile navbar -->